force-app/main/default/flows/GoogleFileVersionExpirePublicLink.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>InvokeExpirePublicLinkAction</name>
        <label>Invoke Expire Public Link Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GoogleFileVersionExpireLinkAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>localFileRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GoogleFileVersionExpireLinkAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <description>Expire public link for Google File Version according to the set expiration date (if set).</description>
    <environments>Default</environments>
    <interviewLabel>Google File Version Expire Public Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Google File Version Expire Public Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdatePublicLinkAsPendingExpiration</name>
        <label>Update Public Link as Pending Expiration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>PublicLinkStatus__c</field>
            <value>
                <stringValue>Pending Expiration</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdatePublicLinkAsPendingExpiration</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 3 AND (2 OR 4)</filterLogic>
        <filters>
            <field>PublicLink__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PublicLinkStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>PublicLinkExpirationDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PublicLinkStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Expiration</stringValue>
            </value>
        </filters>
        <object>GoogleFileVersion__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>ExpirePublicLink</name>
            <connector>
                <targetReference>InvokeExpirePublicLinkAction</targetReference>
            </connector>
            <label>Expire Public Link</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>PublicLinkExpirationDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
