force-app/main/default/flows/GoogleFileRecordDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>AssignPageLayoutValues</name>
        <label>Assign Page Layout Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GoogleFile.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GoogleFileName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GoogleFile.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>File_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GoogleFile.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatedGoogleFile</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>When enabled, you can view the content but cannot make any changes.</description>
        <name>EnabledReadOnlyModeCheck</name>
        <label>Read-Only Mode Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEditAccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsReadOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPageLayoutValues</targetReference>
            </connector>
            <label>Is Edit Access?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GoogleFileSourcePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source__c</picklistField>
        <picklistObject>GoogleFile__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Google File Record Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Google File Record Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GoogleFile</name>
        <label>Google File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PageLayout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GoogleFile__c</object>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatedGoogleFile</name>
        <label>Updated Google File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>GoogleFile</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Google File Record Details Page</description>
        <name>PageLayout</name>
        <label>Page Layout</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EnabledReadOnlyModeCheck</targetReference>
        </connector>
        <fields>
            <name>PageLayout_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PageLayout_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GoogleFileName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GoogleFile.Name</elementReference>
                    </defaultValue>
                    <fieldText>Google File Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>IsReadOnly</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please shorten the file name to 80 characters or fewer&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!GoogleFileName}) &gt; 80, FALSE, TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PageLayout_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>File_Source</name>
                    <choiceReferences>GoogleFileSourcePicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GoogleFile.Source__c</elementReference>
                    </defaultValue>
                    <fieldText>File Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Changing the file source may affect its visibility and cause the file to disappear from the section where it was uploaded. Proceed only if you understand the impact.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>IsReadOnly</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <defaultValue>
                        <stringValue>{!GoogleFile.Description__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;The file description is version-aware. If a new version is uploaded and a description is added for that version, the file description is updated. If a new version is uploaded without a description, the description from the previous version is retained.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>IsReadOnly</elementReference>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please shorten the file description to 2048 characters or fewer&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Description}) &gt; 2048, FALSE, TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GoogleFile</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Google File ID</description>
        <name>fileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indicates whether the component should be restricted to read-only access.</description>
        <name>IsReadOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
